<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="/static/css/homestyle.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/965c30f03e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="submit" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select Department
      </button>
    </div> -->
  
  <div class="big-img">
    <div class="content">
      <div class = "logo">
        <img src = "/static/images/IITI logo.jpg">
      </div>
      <header> WELCOME TO COURSES + FACULTY PAGE </header>
      <div class="field space">
        <a href="/getSummary" type="button" class="routeBtn">Summary</a>
      </div>
  
      <div class="field space">
        <a href="/search_faculty/none" type="button" class="routeBtn">Search Faculty</a>
      </div>

      <div class="field space">
        <a href="/search_course/none" type="button" class="routeBtn">Search Course</a>
      </div>
 
      <div class="field space">
        <a href="/addEntry" type="button" class="routeBtn">Add Entry</a>
      </div>
    
      <div class="field space">
        <a href="/editEntry" type="button" class="routeBtn">Edit Entry</a>
      </div>
    
  </div>
  </div>
    <!-- <script src="index.js"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>